<header class="bg-white shadow-xs">
    <div class="mx-auto px-4 py-4 sm:px-6 lg:px-8">
      <h1 class="text-lg/6 font-semibold text-gray-900">Dashboard</h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <img class="w-fit" src="https://res.cloudinary.com/dp90cjxoh/image/upload/v1747860560/Caterpicks/certificate_evxdec.jpg" alt="">
    </div>
  </main>
</div>
